node-red/flow.json
[{"id":"bb181182.b4a7","type":"mqtt in","z":"42a1649d.5e812c","name":"","topic":"iot-2/evt/status/fmt/json","qos":"2","broker":"55e3d0ed.f545a8","x":288.5,"y":711,"wires":[["17267371.92116d"]]},{"id":"17267371.92116d","type":"json","z":"42a1649d.5e812c","name":"","x":516.5,"y":687,"wires":[["c98f9a31.98825"]]},{"id":"c98f9a31.98825","type":"function","z":"42a1649d.5e812c","name":"","func":"var t = msg.payload.d.t;\nvar h = msg.payload.d.h;\nvar tsg = {};\nvar hsg = {};\ntsg.payload=t;\nhsg.payload=h;\nreturn [tsg, hsg];","outputs":"2","noerr":0,"x":682.5,"y":656,"wires":[["a24a5f97.f48b18"],["4a132c8f.943304"]]},{"id":"a24a5f97.f48b18","type":"ui_gauge","z":"42a1649d.5e812c","name":"","group":"e5c68445.56b828","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value | number:1}}","min":"-10","max":"50","colors":["#00b5b5","#0fe600","#ca3838"],"x":889.5,"y":593,"wires":[]},{"id":"4a132c8f.943304","type":"ui_gauge","z":"42a1649d.5e812c","name":"","group":"e5c68445.56b828","order":0,"width":0,"height":0,"gtype":"gage","title":"RH","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00a4b5","#00e605","#ca3838"],"x":946,"y":699,"wires":[]},{"id":"7c9af96e.8f0ce","type":"ui_switch","z":"42a1649d.5e812c","name":"","label":"switch","group":"e5c68445.56b828","order":0,"width":0,"height":0,"passthru":true,"topic":"inTopic","style":"","onvalue":true,"onvalueType":"num","onicon":"fa-fire","oncolor":"green","offvalue":false,"offvalueType":"num","officon":"fa-fire","offcolor":"red","x":297.5,"y":1003,"wires":[["4c28e42d.5fb9a4"]]},{"id":"7e3a013e.158d78","type":"mqtt in","z":"42a1649d.5e812c","name":"","topic":"inTopic","qos":"2","broker":"55e3d0ed.f545a8","x":96.5,"y":979,"wires":[["7c9af96e.8f0ce"]]},{"id":"4c28e42d.5fb9a4","type":"mqtt out","z":"42a1649d.5e812c","name":"","topic":"inTopic","qos":"","retain":"","broker":"55e3d0ed.f545a8","x":463,"y":1013,"wires":[]},{"id":"55e3d0ed.f545a8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e5c68445.56b828","type":"ui_group","name":"Group","tab":"67b569b3.342e9","order":null,"disp":true,"width":6},{"id":"67b569b3.342e9","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]
